<div id="main-panel">
  <div id="left" class="panel">
    <div id="name">配置面板</div>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="ITERS" [(ngModel)]="iters" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="STEPSIZE" [(ngModel)]="stepSize" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="ANCHORS" [(ngModel)]="anchors" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="RATIOS" [(ngModel)]="ratios" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="BATCH_SIZE" [(ngModel)]="batchSize" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              placeholder="LEARNING_RATE"
              [(ngModel)]="learningRate"
            />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              placeholder="WEIGHT_DECAY"
              [(ngModel)]="weightDecay"
            />
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div id="right" class="panel">
    <div class="btns">
      <button
        class="r-btn"
        mat-flat-button
        color="primary"
        (click)="start()"
        [disabled]="isStarted"
      >
        运行
      </button>
      <button
        class="r-btn"
        mat-flat-button
        color="warn"
        (click)="end()"
        [disabled]="!isStarted"
      >
        中断
      </button>
    </div>
    <mat-card class="outputs">
      <p *ngFor="let result of results">{{ result }}</p>
    </mat-card>
    <a class="link" mat-button routerLink="/">转到结果页面</a>
  </div>
</div>
